/* media Queries common for All*/


/* ----------- Footer ------------- */


/* Small Screen*/


/* Example: Pixel 5 */

@media only screen and (min-width: 0px) and (max-width: 960px) {
    .Header {
        width: 100vw;
        position: fixed;
        top: 0;
        z-index: 1;
    }
    .footer {
        width: 100vw;
        padding: 11px 25px;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        z-index: 100;
        background-color: rosybrown;
    }
}


/* medium Screen*/

@media only screen and (min-width: 560px) and (max-width: 2000px) {
    .Header {
        position: sticky;
        top: 0;
    }
}