@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Ubuntu&display=swap");
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    width: 100%;
    height: 100%;
    background-color: #e0e0e0;
    font-family: "Poppins", sans-serif;
}


/* Main-container */

.main-container {
    width: 100%;
    height: 100%;
}


/* -------- Header --------- */

header {
    background-color: rosybrown;
    max-width: 100vw;
    min-height: 1.5rem;
    position: sticky;
    top: 0;
    z-index: 100;
}

.Header {
    padding: 0 2%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
}


/* Header-Image */

#Header-img {
    width: 60px;
    height: 60px;
}


/* Login option */

.login a {
    text-decoration: none;
    color: black;
    font-weight: 600;
}


/* ------- Content ------- */


/* Hotel_container */

.hotel_container {
    padding: 3%;
}


/* Hotel Book container */

.hotel-img-book {
    display: flex;
    flex-wrap: wrap;
    border: 2px solid;
    border-collapse: collapse;
}


/* Hotel Image container */

.hotel_container .hotel-img {
    width: 60%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1.6rem;
    border: 1px solid;
}


/* Images */

.hotel_container .hotel_img {
    width: 500px;
}

.hotel_container .payment-form {
    width: 40%;
    display: flex;
    justify-content: center;
    border: 1px solid;
    border-collapse: collapse;
}

#form-payment {
    margin: 0.7rem;
    display: flex;
    align-items: center;
    justify-content: center;
}


/* form table */

#form-payment table {
    height: 25rem;
    width: 27rem;
    font-size: 1.1rem;
}

#form-payment table input {
    padding: 0.5rem;
    width: 20em;
    height: 1.7rem;
    outline: none;
    font-size: 0.9rem;
    border-radius: 0.1rem;
    border: none;
    background-color: rgb(255, 255, 255);
}

#form-payment table button {
    width: 6.2rem;
    height: 2.2rem;
    border-radius: 0.3rem;
    background-color: transparent;
    border-color: rgba(80, 69, 69, 0.733);
    cursor: pointer;
}

.Rating_,
.amenities_,
.desctitle_ {
    font-family: "Ubuntu", sans-serif;
}


/* Hotel description */

.hotel-desc {
    margin: 1% 4% 2% 4%;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.amenities .un_list {
    padding: 1% 3% 2% 4%;
}


/* -------- Footer --------*/

footer {
    background-color: rosybrown;
    padding: 0 2%;
    max-width: 100vw;
    min-height: 3.3rem;
    position: sticky;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    gap: 5rem;
    bottom: 0;
    z-index: 100;
}


/* contact */

.footer .contact a {
    text-decoration: none;
    color: black;
    font-weight: 500;
}


/* Social media */

.social_media {
    display: flex;
}

.media_img {
    width: 22px;
    height: 20px;
}


/* set order */

.social_media {
    order: 1;
}

#rights_text {
    margin-top: 1.2rem;
    font-size: 0.9rem;
}