@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    width: 100%;
    height: 100%;
    background-color: #e0e0e0;
    font-family: "Poppins", sans-serif;
}


/* Main-container */

.main-container {
    position: absolute;
    width: 100%;
    height: 100%;
}


/* -------- Header --------- */

header {
    background-color: rosybrown;
    max-width: 100vw;
    min-height: 1.5rem;
    position: sticky;
    top: 0;
    z-index: 100;
}

.Header {
    padding: 0 2%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}


/* Login option */

.login a {
    text-decoration: none;
    color: black;
    font-weight: 600;
}


/* Header-Image */

#Header-img {
    width: 60px;
    height: 60px;
}


/* -------- Content --------- */


/* background-image */

.content .content1 {
    position: relative;
    background-image: url(https://media-cdn.tripadvisor.com/media/photo-o/14/10/2e/af/india.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 28rem;
}

.content2 .content2_images {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8rem;
    padding: 4%;
}


/* content1 --> Search */

.content .content1 {
    display: flex;
    align-items: center;
    justify-content: center;
}

.content1 #search {
    font-size: 1.1rem;
    padding: 0.8rem;
    border: none;
    width: 25rem;
    height: 2.5rem;
    background-color: #f1f1f1;
    border-radius: 1rem;
    outline: none;
}


/* content2 -images */

.images_ {
    border-radius: 25%;
}

.search_bg_img {
    height: 380px;
    max-width: 100vw;
}

.content2_images {
    display: flex;
}

.content2_images .primay-img {
    margin: 0.1rem;
    display: flex;
}


/* Content-Images */

.images_ {
    width: 150px;
    height: 150px;
}


/* content-3 */

.content .content3 {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0.8rem 0 2rem 0;
}

.content3 a {
    text-decoration: none;
    color: rgba(0, 0, 0, 0.685);
    font-size: 1.1rem;
    font-weight: 600;
}


/* -------- Footer --------- */

footer {
    padding: 0 2%;
    max-width: 100vw;
    min-height: 3.3rem;
    position: sticky;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 5rem;
    bottom: 0;
    z-index: 100;
    background-color: rosybrown;
}


/* contact */

.footer .contact a {
    text-decoration: none;
    color: black;
    font-weight: 500;
}


/* Social media */

.social_media {
    display: flex;
}

.media_img {
    width: 22px;
    height: 20px;
}

.social_media {
    order: 1;
}

#rights_text {
    margin-top: 1.2rem;
    font-size: 0.9rem;
}