* {
    box-sizing: border-box;
}


/* -------- Header --------- */

.Header {
    display: flex;
    align-items: center;
}


/* Header-Image */

#Header-img {
    width: 10rem;
    height: 9rem;
}


/* -------- Footer --------*/


/* Social media */

.social_media {
    display: flex;
}

.media_img {
    width: 2rem;
    height: 2rem;
}