@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

html,
body {
    background-color: #e0e0e0;
    font-family: "Poppins", sans-serif;
}


/* Main-container */

.main-container {
    width: 98.9vw;
    height: 100vh;
}


/* -------- Header --------- */

.Header {
    min-height: 1.5rem;
    max-width: 100%;
    position: sticky;
    top: 0;
    padding: 0 2%;
    z-index: 1;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    background-color: rosybrown;
}


/* Header-Image */

#Header-img {
    width: 60px;
    height: 60px;
}


/* -------Login Modal */

.modal-backdrop {
    z-index: 0;
    transition: 0.2s all;
}

.modal-body .login-table {
    margin: auto;
    height: 6rem;
    align-items: center;
    justify-content: center;
}

.modal-body .login-table input {
    padding: 0 0.2rem 0 0.5rem;
    margin-left: 1.5rem;
}

.modal-footer {
    align-items: center;
    justify-content: center;
}


/* -----  Login Modal End */

.hotels {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 0;
}


/* --------- Content ------- */

.container {
    padding-bottom: 4rem;
    --bs-gutter-x: 0;
}


/* content-1 */

.list_container {
    margin: 3rem;
}

.list_container>ul {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1.3rem;
    flex-wrap: wrap;
}


/* content-2 */


/* Hotel-cards */

.hotel {
    background-color: lightgrey;
    height: 220px;
    max-width: 36rem;
    margin: 2%;
    display: flex;
    transition: 0.3s all;
}


/* Hotel_images */

.hotel .hotel_img {
    height: 220px;
    width: 17rem;
}


/* Hotel description */

.hotel .hotel-desc {
    width: 18rem;
}

.hotel .hotel-desc a {
    text-decoration: none;
    color: black;
    font-weight: 600;
}

#_hotelinfo {
    width: 23rem;
    color: black;
    display: flex;
    flex-direction: column;
    padding: 0.9rem;
}

#_hotelinfo1 {
    width: 23rem;
    padding: 0.9rem;
    line-height: 2.5;
}

.hotel:hover {
    background-color: rosybrown;
}


/* Rating star */

.fa {
    font-size: 19px;
}

.checked {
    color: orange;
}


/* map-view */

.map {
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

#map_image {
    width: 40rem;
    height: 30rem;
}


/* -------- Footer --------*/

footer {
    padding: 0 2%;
    width: 100vw;
    min-height: 3.3rem;
    position: fixed;
    bottom: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    z-index: 1;
    background-color: rosybrown;
}


/* contact */


/* Contact Modal */

.modal-body1 {
    padding: 1.4rem;
    display: flex;
    flex-direction: column;
}

.modal-body .para {
    font-size: 1.5rem;
    font-weight: 500;
    margin-bottom: 0.4rem;
}

.modal-body1 .para p {
    margin-top: 0;
    margin-bottom: 0.1rem;
    letter-spacing: 0.1px;
    font-weight: 500;
}

.modal-body1 .input_field {
    margin-top: 1rem;
    font-size: 1.1rem;
}

.modal-body1 .input_field input {
    width: 16rem;
    padding-left: 0.3rem;
    font-size: 1rem;
}

#modal_footer {
    display: flex;
    align-items: center;
    justify-content: end;
}


/* ------- Modal contact End ------- */


/* Social media */

.social_media {
    display: flex;
}

.media_img {
    width: 22px;
    height: 20px;
}


/* set order */

.social_media {
    order: 1;
}

#rights_text {
    margin-top: 1.2rem;
}

#rights_text>h5 {
    font-size: 0.9rem;
}


/* Media Queries for Small Screen */

@media only screen and (min-width: 0px) and (max-width: 600px) {
    /* Container */
    .container {
        padding-bottom: 13rem;
    }
    /* ----- Hotel-cards ------ */
    /* hotel images */
    .hotel .hotel_img {
        height: 220px;
        width: 12rem;
    }
    /* Hotel info. */
    #_hotelinfo {
        width: 10rem;
    }
    #_hotelinfo1 {
        width: 10rem;
        padding: 0.9rem;
        line-height: 2.5;
    }
    /* MAP-Image */
    #map_image {
        width: 22rem;
        height: 17rem;
    }
}


/* Medium Devices */

@media only screen and (min-width: 600px) and (max-width: 2000px) {
    .Header {
        width: 100%;
        position: fixed;
    }
    .container,
    .container-md,
    .container-sm {
        margin-top: 7rem;
    }
    .footer {
        display: flex;
        flex-direction: row;
    }
}