@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

html,
body {
    width: 100%;
    height: 100%;
    background-color: #e0e0e0;
    font-family: "Poppins", sans-serif;
}


/* Main-container */

.main-container {
    width: 100%;
    height: 100%;
}


/* -------- Header --------- */

header {
    background-color: rosybrown;
}

.Header {
    display: flex;
    align-items: center;
}


/* Header-Image */

#Header-img {
    width: 60px;
    height: 60px;
}


/* --------- Content ------- */

.hotel .hotel_img {
    height: 210px;
    width: 250px;
}

.content-2 .hotel {
    background-color: rgb(132, 136, 139);
    height: 400px;
    width: 40%;
    margin: 2%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.hotel .hotel-desc {
    padding: 2%;
}


/* -------- Footer --------*/


/* Social media */

.social_media {
    display: flex;
}

.media_img {
    width: 22px;
    height: 20px;
}