@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    width: 100%;
    height: 100%;
    background-color: #e0e0e0;
    font-family: "Poppins", sans-serif;
}


/* Main-container */

header {
    background-color: rosybrown;
    max-width: 100vw;
    min-height: 1.5rem;
    position: sticky;
    top: 0;
    z-index: 1;
}

.main-container {
    width: 100%;
    height: 100%;
}


/* -------- Header --------- */

.Header {
    display: flex;
    align-items: center;
    padding: 0 2%;
    justify-content: space-between;
}


/* Header-Image */

#Header-img {
    width: 60px;
    height: 60px;
}


/* Login option */

.login a {
    text-decoration: none;
    color: black;
    font-weight: 600;
}


/* ------- Content ------- */

.hotel_container .hotel_img {
    width: 500px;
    height: 500px;
}


/* Hotel div*/

.hotel {
    margin: 2% auto;
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    width: 50%;
    align-items: flex-start;
    justify-content: space-between;
    background-color: rgb(132, 136, 139);
}


/* hotel-desc */

.hotel-desc .customer-details {
    margin: 2% 4% 2% 2%;
    display: flex;
    flex-direction: column;
    gap: 1.2rem;
}

.hotel-desc .prices {
    margin: 2% 2% 3% 4%;
    border: 2px solid;
    padding: 3rem;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    border-radius: 1rem;
}


/* paynow Button */

.hotel-desc .pay-btn {
    padding: 2rem;
}

.hotel-desc .pay-btn a {
    text-decoration: none;
    color: black;
    f
}


/* -------- Footer --------*/


/* Social media */

footer {
    background-color: rosybrown;
    padding: 0 2%;
    max-width: 100vw;
    min-height: 3.3rem;
    position: sticky;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 5rem;
    bottom: 0;
    z-index: 100;
}


/* contact */

.footer .contact a {
    text-decoration: none;
    color: black;
    font-weight: 500;
}

.social_media {
    display: flex;
}

.media_img {
    width: 22px;
    height: 20px;
}


/* set order */

.social_media {
    order: 1;
}

#rights_text {
    margin-top: 1.2rem;
    font-size: 0.9rem;
}